* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  color: #343a40;
  border-bottom: 8px solid #087f5b;
}

.container {
  width: 960px;
  margin: 0 auto;
}

header,
section {
  margin-bottom: 128px;
}

h2 {
  margin-bottom: 48px;
  /* 24 / 30 / 36  */
  font-size: 36px;
  letter-spacing: -0.5px;
}

.utility {
  font-size: 20px;

  display: grid;
  grid-template-rows: 80px 30px 30px;
  grid-template-columns: 100px;

  justify-items: center;
}

.icon {
  /* stroke: #087f5b; */
}

.grid-4-cols {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
}

img {
  border-radius: 12px;
}

/* HEADER */
header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 80px;
  margin-top: 64px;
}

.header-text-box {
  align-self: center;
}

h1 {
  margin-bottom: 32px;
  font-size: 44px;
  line-height: 1.1;
  letter-spacing: -1px;
  /* / 44 / 52 / 62 / */

  text-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.27);
}

.header-text {
  margin-bottom: 24px;
  font-size: 18px;
  line-height: 1.6;
}

img {
  width: 100%;
}
